{{! Navbar }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="d-flex align-items-center">
      <svg
        class="navbar-logo me-2"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="white"
      >
        <path
          d="M3 5v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2zm12 
        4c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-4 8v-4h4v4H11z"
        />
      </svg>
      <a class="navbar-brand" href="/">Kundaligim</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Asosiy sahifa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-diary">Yangi diary yaratish</a>
        </li>
      </ul>
    </div>
  </div>
</nav>